<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h2>질문 자세히 보기</h2>
    {%if question %}
        
        <p>{{question.content}}</p><br>
        <p>{{question.create_date}}</p><br>

        <div>
            <ul>
                {% for answer in question.answer_set %}
                    <li>{{answer.contnet}}</li>
                {%endfor%}
            </ul>

        </div>
        
        <form method = "post" action="{{url_for('answer.create', question_id=question.id)}}">
            <textarea name="content" rows="10"></textarea>
            <button>답글 등록</button>
        </form>
    {%else%}
        <p>질문이 없습니다</p>
    {%endif%}

    
</body>
</html>