<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    {%if question_list%}
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>  
                  </tr>
                </thead>
                <tbody>
                    {%for question in question_list%}
                        <tr>
                            <td>{{question.id}}</td>
                            <td><a href="/question/question_detail.html">{{question.subject}}</a></td>
                            <td>{{question.create_date}}</td>
                        </tr>
                  {%endfor%} 
                </tbody>
              </table>

        </div>
        
    {%else%}
    {%endif%}
</body>
</html>